:root {
	font-family: Arial, Helvetica, sans-serif;
	color: #f5f5f5;
	background: #23252f;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
}

button,
a {
	font: inherit;
}
